.react-colorblindly-devtools__root button:focus,
.react-colorblindly-devtools__root button:focus-visible,
.react-colorblindly-devtools__popover-content button:focus,
.react-colorblindly-devtools__popover-content button:focus-visible {
  outline: none;
}

.react-colorblindly-devtools__popover-button {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: rgb(15, 110, 240) !important;
  border-radius: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-colorblindly-devtools__popover-content {
  position: absolute;
  padding: 0.25rem;
  right: 3rem;
  bottom: 3rem;
  min-width: 20rem;
  border: 0 solid #e5e7eb;
  border-width: 1px;
  background-color: white;
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  overflow: hidden;
  color: black;
}

.react-colorblindly-devtools__popover-item-wrapper {
  width: 100%;
}

.react-colorblindly-devtools__popover-item {
  display: grid;
  grid-template-columns: 2.5rem 1fr 1.5rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.react-colorblindly-devtools__popover-item:hover {
  background-color: rgb(243 244 246);
}

.react-colorblindly-devtools__popover-preview {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.rainbow-square {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  ); /* 横方向の虹色グラデーション */
}

.react-colorblindly-devtools__popover-text-container {
  margin-left: 1rem;
}

.react-colorblindly-devtools__popover-kind {
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(17 24 39);
}

.react-colorblindly-devtools__popover-description {
  font-size: 0.75rem;
  font-weight: 400;
  color: rgb(107 114 128);
}

.react-colorblindly-devtools__popover-item-icon {
  flex-shrink: 0;
}
